<accordion>
  <accordion-group class="box">
    <accordion-heading>
      <div class="row">
        <span class="span2">Socket Logger</span>
        <span>
          <i class="icon-link"></i>
          <span ng-switch="totalListenerCount()">
            <span ng-switch-when="-1"><i class="icon-warning-sign" style="color: red;"></i></span>
            <span ng-switch-default>{{totalListenerCount()}}</span>
          </span>
        </span>
      </div>
    </accordion-heading>
    <accordion-body>
      <a class="span2 text-center" href="" ng-click="printToConsole()">print to console</a>
      <div>
        <table>
          <tr>
            <th>Event</th>
            <th>Count</th>
          </tr>
          <tr ng-repeat="(key, event) in events">
            <td ng-class="{hide: event == null}" class="span2">{{key}}</td>
            <td ng-class="{hide: event == null}" class="span1 text-center">
              <span ng-switch="event.length">
                <span ng-switch-when="0">1</span>
                <span ng-switch-when="null">null</span>
                <span ng-switch-default>{{event.length}}</span>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </accordion-body>
  </accordion-group>
</accordion>
