<div ng-switch="playerlist">
    <div ng-switch-when="false">
        <div id="profile">
          <h1 class="text-center">{{user.name}}</h1>
          <div class="col-lg-4 text-center">
            <elo-box number="user.elo" size="80"></elo-box>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>{{'_SignedUpSince_' | i18n}}: {{user.signupDate | date}}</li>
              <li>{{'_Games_' | i18n}}: {{user.games}}</li>
              <li>{{'_Wins_' | i18n}}: {{user.wins}}</li>
            </ul>
            <h5>{{'_Ratio_' | i18n}}</h5>
            <div class="progress">
              <div class="progress-bar" ng-class="{'progress-bar-warning': user.ratio > 33.34 && user.ratio < 66.65, 'progress-bar-danger': user.ratio <= 33.34, 'progress-bar-success': user.ratio >= 66.65}" style="width: {{user.ratio}}%;">{{user.ratio | number:2}}</div>
            </div>
          </div>

          <div ng-switch="isFriend" ng-hide="user.own">
            <div ng-switch-when="true">
                <button type="button" ng-click="deleteFriend()" class="btn btn-danger btn-primary">{{'_DeleteFriend_' | i18n}}</button>
            </div>
            <div ng-switch-when="false">
                <button type="button" ng-click="addAsFriend()" class="btn btn-primary">{{'_AddFriend_' | i18n}}</button>
            </div>
            <div ng-hide="!user.online">
                 <i class="icon-circle online"> {{'_Online_' | i18n}}</i>
            </div>
          </div>

          <div class="clearfix"></div>
          <hr/>
          <div class="col-lg-6">
            <h4 class="text-center">{{'_Games_' | i18n}} ({{user.gamesParticipated.length}})</h4>

            <div class="text-center">
              <paginate paginate="gamesPaginate"></paginate>
            </div>

            <table class="table table-striped">
              <tr>
                <th>{{'_Standing_' | i18n}}</th>
                <th>{{'_Date_' | i18n}}</th>
                <th></th>
              </tr>
              <tbody ng-repeat="game in user.gamesParticipated | startFrom:gamesPaginate.startFrom | limitTo:gamesPaginate.limitTo" style="border-top:0px;">
                <tr class="text-center">
                  <td>{{getStanding(user.name, game.standings)}}</td>
                  <td>{{game.date | date:'short'}}</td>
                  <td><a data-toggle="collapse" data-target="#gamesParticipated{{$index}}" href="">info</a></td>
                </tr>
                <tr>
                  <td colspan="4" style="padding: 0px;">
                    <div class="collapse" id="gamesParticipated{{$index}}" >
                      <table class="table text-center table-condensed table-white" style="table-layout: fixed; margin-bottom: 0px;">
                        <tr>
                          <th>Place</th>
                          <th>User</th>
                        </tr>
                        <tr ng-repeat="standing in game.standings">
                          <td rowspan="standing.length" style="vertical-align:middle;">{{$index + 1}}</td>
                          <td style="vertical-align:middle;">
                            <ul class="list-unstyled" style="margin: 0px;">
                              <li ng-repeat="player in standing">
                                <a href="#/profile/{{player}}">{{player}}</a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-lg-6">
            <h4 class="text-center">{{'_Friends_' | i18n}} ({{user.friends.length}})</h4>

            <div class="text-center">
              <paginate paginate="friendsPaginate"></paginate>
            </div>

            <ul class="list-unstyled">
              <li class="text-center imitateTable" style="border-bottom:0;"><strong>{{'_FriendsOf_' | i18n}} {{user.name}}</strong></li>
              <li class="text-center col-lg-6 col-lg-offset-6 imitateTable" ng-repeat="friend in user.friends | startFrom:friendsPaginate.startFrom | limitTo:friendsPaginate.limitTo"><a href="#/profile/{{friend}}">{{friend}}</a></li>
            </ul>
          </div>

        </div>
    </div>
    <div ng-switch-default>
        <h1 class="text-center">{{'_Playerlist_' | i18n}}</h1>
        <h5 class="text-center">
          <ng-pluralize count="connectedUsers"
            when="{0: '{{locale._NoOnline_ | i18n}}',
              one: '{{locale._OneOnline_ | i18n}}',
              other: '{{locale._ManyOnline_ | i18n:[connectedUsers]}}' }">
          </ng-pluralize>
        </h5>
        <div class="text-center">
          <button type="button" class="btn btn-primary" ng-click="refresh()"><i class="icon-refresh"></i> {{'_Refresh_' | i18n}}</button>
          <input type="checkbox" ng-model="onlyConnected"/>{{'_ConnectedOnly_' | i18n}}
          <input ng-model="searchPlayer.string" placeholder="{{'_SearchPlayer_' | i18n}}"/><a href="" class="icon-remove" ng-click="clearPlayerSearch()" style="position: relative; left: -20px;"></a>
        </div>
        <ul class="list-unstyled text-center ">
          <li class="col-lg-2" ng-repeat="user in users | withoutGuests | orderBy:'name' | filter:searchPlayer.string "><a href="#/profile/{{user.name}}">{{user.name}}</a></li>
        </ul>
    </div>
</div>
