<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MultiCollide</title>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.css"/>
  <link rel="stylesheet" href="css/font-awesome.css"/>
  <!--[if IE 7]><link rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->

  <style type="text/css">
    .box {
      background-color: #fafafa;
      background-repeat: repeat-x;
      border: 1px solid #d4d4d4;
      
    }

    #sidebar {
      border-top: 0px;
      padding:2px;
    }
      
   .jumbotron {
      margin: 40px 0;
      text-align: center;
    }
    .jumbotron h1 {
      font-size: 100px;
      line-height: 1;
    }
    .jumbotron h2 {
      font-size: 80px;
      line-height: 1;
    }

    .navbar {
      margin-bottom: 0px;
    }

    .navbar-inner {
      border-radius:0px;
    }

    .col{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    
    }

    .col-wrap{
        overflow: hidden; 
    }
  </style>

  

</head>
<body>
  <div class="container">
    <div class="navbar"  style="min-width:800px;">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="#">MultiCollide</a>

            <ul class="nav">
              <li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
              <li><a href="#"><i class="icon-list"></i>Games</a></li>
              <li><a href="#"><i class="icon-book"></i>Blog</a></li>
            </ul>
            <ul class="nav pull-right">
              <li style="font-size:20px;"><a href="#">Quick Play</a></li>
              <li><a href="#"><i class="icon-wrench icon-large"></i>  </a></li>
            </ul>


        </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

    <div class="row col-wrap">
      <div class="span9 sameHeight">
        <div class="jumbotron" style="text-align:center;">
          <h1>MultiCollide</h1>
          <h2>A HTML 5 Multiplayer game using socket.io and node.js</h2>
        </div>
   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 

Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 

Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 

Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 

Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. 

At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. 

Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus. 
      </div>
      <div class="span3">
        <div id="sidebar" class="box sameHeight text-center">
          <!-- offset9 not working in ie7 -->


          <div id="profileStatus" class="box" style="height:300px;">
            <h4>Create an account and profit:</h4>
            <ul style="text-align:left;">
              <li>get your own profile</li>
              <li>statistics of all your games</li>
              <li>conquer the highscore list</li>
            </ul>
            <br/>
            <br/>
            <div class="btn-group btn-group-vertical text-left">
              <a class="btn btn-medium">Create Account!</a>
              <br/>
              <a class="btn btn-medium">Log In!</a>
            </div>
          </div>

          <div id="newsFeed">
            NEWS
          </div>
        </div>
      </div>
    </div>

    <div id="footer" class="text-center">
      <i>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos e</i>
    </div>
  </div><!-- /.container -->


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script>
    boxes = $('.sameHeight');
    maxHeight = Math.max.apply(
      Math, boxes.map(function() {
        return $(this).height();
    }).get());
    boxes.height(maxHeight);
  </script>

</body>
</html>
