<div id="profile">
  <h1 class="text-center">{{user.name}}</h1>
  <div class="row">
    <div class="col-lg-4 text-center">
      <elo-box number="user.elo" size="80"></elo-box>
    </div>
    <div class="col-lg-5">
      <table class="col-lg-12" style="font-size: 16px;">
        <tr>
          <td>{{'_SignedUpSince_' | i18n}}:</td>
          <td>{{user.signupDate | date}}</td>
        </tr>
      </table>
    </div>

    <div ng-switch="isFriend" ng-hide="user.own">
      <div ng-switch-when="true">
          <button type="button" ng-click="deleteFriend()" class="btn btn-danger btn-primary">{{'_DeleteFriend_' | i18n}}</button>
      </div>
      <div ng-switch-when="false">
          <button type="button" ng-click="addAsFriend()" class="btn btn-primary">{{'_AddFriend_' | i18n}}</button>
      </div>
      <div ng-hide="!user.online">
           <i class="icon-circle online"> {{'_Online_' | i18n}}</i>
      </div>
      <div ng-hide="user.online">
           <i class="icon-circle offline"> {{'_Offline_' | i18n}}</i>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
    <h4 class="text-center">{{'_GamesStatistics_' | i18n}}</h4>
  </div>
  <div class="row text-center">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {{currentGame}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="game in appConfig.games"><a ng-click="changeGame(game.name)">{{game.name}}</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">


      <div class="text-center">
        <paginate paginate="gamesPaginate"></paginate>
      </div>

      <table class="table table-striped">
        <tr>
          <th>{{'_Standing_' | i18n}}</th>
          <th>{{'_Date_' | i18n}}</th>
          <th></th>
        </tr>
        <tbody ng-repeat="game in user.gamesParticipated | filter:{game: currentGame} | startFrom:gamesPaginate.startFrom | limitTo:gamesPaginate.limitTo" style="border-top:0px;">
          <tr class="text-center">
            <td>{{getStanding(user.name, game.standings)}}</td>
            <td>{{game.date | date:'short'}}</td>
            <td><a data-toggle="collapse" data-target="#gamesParticipated{{$index}}" href="">info</a></td>
          </tr>
          <tr>
            <td colspan="4" style="padding: 0px;">
              <div class="collapse" id="gamesParticipated{{$index}}" >
                <table class="table text-center table-condensed table-white" style="table-layout: fixed; margin-bottom: 0px;">
                  <tr>
                    <th>Place</th>
                    <th>User</th>
                  </tr>
                  <tr ng-repeat="standing in game.standings">
                    <td rowspan="standing.length" style="vertical-align:middle;">{{$index + 1}}</td>
                    <td style="vertical-align:middle;">
                      <ul class="list-unstyled" style="margin: 0px;">
                        <li ng-repeat="player in standing">
                          <a href="#/users/{{player}}">{{player}}</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-6">
      <table class="col-lg-12" style="font-size: 16px;">
        <tr>
          <td>{{'_Games_' | i18n}}:</td>
          <td>{{user.games}}</td>
        </tr>
        <tr>
          <td>{{'_Wins_' | i18n}}:</td>
          <td>{{user.wins}}</td>
        </tr>
      </table>

      <h4>{{'_Ratio_' | i18n}}</h4>
      <progress-bar progress="{{user.ratio}}"></progress-bar>
    </div>
  </div>

  <hr/>

  <div class="row">
    <h4 class="text-center">{{'_Friends_' | i18n}} ({{user.friends.length}})</h4>

    <div class="text-center">
      <paginate paginate="friendsPaginate"></paginate>
    </div>

    <ul class="list-unstyled">
      <li class="text-center imitateTable" style="border-bottom:0;"><strong>{{'_FriendsOf_' | i18n}} {{user.name}}</strong></li>
      <li class="text-center col-lg-6 col-lg-offset-6 imitateTable" ng-repeat="friend in user.friends | startFrom:friendsPaginate.startFrom | limitTo:friendsPaginate.limitTo"><a href="#/users/{{friend}}">{{friend}}</a></li>
    </ul>
  </div>
</div>
