<div class="text-center">
  <h1>About</h1>
  <h3>This is a masters thesis project</h3>
  <p>André Eife</p>
  <p>Hochschule für Technik, Wirtschaft und Kultur (HTWK) Leipzig</p>
  <hr>
  <h3>Contact</h3>
  <p><i class="icon-envelope icon-large"></i> andre.eife@gmail.com</p>
  <p><i class="icon-twitter icon-large"></i><a href="http://www.twitter.com/a_eife"> @a_eife</a></p>
  <p><i class="icon-github icon-large"></i><a href="https://github.com/aeife/multicollide"> MultiCollide github repository</a></p>
  <p>{{'_TESTTEXT_' | i18n:['test1', 'test2']}}</p>
</div>
