<!-- <div class="span5" style="

    height: 100px;
    background-color: red;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 250px;

    margin: auto;
">
  <h1>TEST CONFIRM DIALOGE</h1>
</div> -->

<div class="modal" ng-hide="hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{content.title}}</h3>
  </div>
  <div class="modal-body">
    <p>{{content.text}}</p>
  </div>
  <div class="modal-footer">
    <a href="#" ng-click="confirm()" class="btn btn-primary">Confirm</a>
    <a href="#" ng-click="cancel() "class="btn">Cancel</a>
  </div>
</div>
