<div id="friendslist" ng-hide="!friends">
    <div id="accordion2" class="box">
      <div>
        <div class="text-center">
          <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <h5>{{friendCount}} friends online</h5>
          </a>
        </div>
        <div id="collapseOne" class="collapse">
          <div>
            <!-- <table>
                <tr ng-repeat="(user,friend) in friends | toArray | orderBy:'online':true">
                    <td>{{friend.$key}}</td>
                    <td ng-switch="friend.online">
                        <div ng-switch-when="true" style="color: green;">
                            online
                        </div>
                        <div ng-switch-default style="color: red;">
                            offline
                        </div>
                    </td>
                </tr>
            </table> -->
            <ul>
                <li ng-repeat="(user,friend) in friends | toArray | orderBy:'online':true">
                    <a href="/#/user/{{friend.$key}}" ng-class="{online: friend.online}"><i class=" icon-circle"></i>{{friend.$key}}</a>
                </li>
            </ul>
            <ul>
                <li>newUser <a href=""><i class=" icon-ok-sign"></i></a><a href=""><i class=" icon-remove-sign"></i></a></li>
                <li ng-repeat="request in requests">
                    {{request}} <a href="" ng-click="accept(request)"><i class=" icon-ok-sign"></i></a><a href=""><i class=" icon-remove-sign"></i></a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>



