<!-- <div class="container">
  <div class="row">
    <div class="span3 offset3"> -->
      <div class="login-form text-center">
        <h1>Login</h1>
        <form action="">
          <fieldset>
            <div class="clearfix">
              <input type="text" ng-model="username" placeholder="Username">
            </div>
            <div class="clearfix">
              <input type="password" ng-model="password" placeholder="Password">
            </div>
            <button class="btn primary" type="submit" ng-click="login()">Log in</button>
          </fieldset>
        </form>
      </div>
<!--     </div>
  </div>
</div> -->