<div class="navbar"  style="min-width:800px;">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand" href="#">MultiCollide</a>

        <ul class="nav">
          <li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
          <li><a href="#"><i class="icon-list"></i>Games</a></li>
          <li><a href="#"><i class="icon-book"></i>Blog</a></li>
        </ul>
        <ul class="nav pull-right">
          <li style="font-size:20px;"><a href="#">Quick Play</a></li>
          <li><a href="#"><i class="icon-wrench icon-large"></i>  </a></li>
        </ul>


    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->

<div class="row col-wrap">

  <div class="span9 sameHeight">
    <div class="jumbotron" style="text-align:center;">
      <h1>MultiCollide</h1>
      <h2>A HTML 5 Multiplayer game using socket.io and node.js</h2>
    </div>
   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 

  Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 

  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 

  Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 

  Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. 

  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. 

  Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus. 
  
  <div id="serverBrowser">
    <h1 class="text-center">Server Browser</h1>
    <div class="btn-toolbar text-center">
      <div class="btn-group">
        <a href="#" class="btn">create game</a>
      </div>
      <div class="btn-group">
        <a href="#" class="btn">refresh</a>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <tr>
        <th>Game Name</th>
        <th>Players</th>
        <th>Status</th>
        <th></th>
      </tr>
      <tr>
        <td>Game Nr. One</td>
        <td>4 / 10</td>
        <td>Lobby</td>
        <td><a href="#" class="btn btn-small">join</a></td>
      </tr>
      <tr>
        <td>Private Elite Game</td>
        <td>2 / 4</td>
        <td>Lobby</td>
        <td><a href="#" class="btn btn-small">join</a></td>
      </tr>
      <tr>
        <td>Beginners Only</td>
        <td>10 / 10</td>
        <td>Playing</td>
        <td><a href="#" class="btn btn-small">join</a></td>
      </tr>
      <tr>
        <td>Another fine Game</td>
        <td>4 / 10</td>
        <td>Playing</td>
        <td><a href="#" class="btn btn-small">join</a></td>
      </tr>
    </table>
  </div>

  </div>

  <div class="span3">
    <div id="sidebar" class="box sameHeight">
      <!-- offset9 not working in ie7 -->

      <profile-box></profile-box>


      <div id="profileBox" class="box" style="height:200px;">
        <h4><a href="#">Username</a></h4>
        <img src="http://placehold.it/100x100"/>
        
        <ul>
          <li>Played: 132</li>
          <li>Won: 30</li>
          <li>Score: 8232</li>
        </ul>
       
        <div id="profileBoxLower" class="clear">
          <a href="#"><i class="icon-group icon-large"></i>5 friends online</a>
        </div>

      </div>

      <div id="newsFeed">
        <div class="newsItem">
          <h4>New Patch 0.1.12</h4>
          <h5>12.07.2013</h5>
          The new version 0.1.12 adds some new features and fixes a lot of bugs.
        </div>
        <div class="newsItem">
          <h4>Server Downtime</h4>
          <h5>01.07.2013</h5>
          Servers will be shut down for maintenance. Downtime is expected to be from 9 till 11 pm GMT.
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer" class="text-center">
  <i>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos e</i>
</div>

