<div id="profileBox" class="box" style="height:200px;">
  <h4>Create an account and profit:</h4>
  <ul style="text-align:left;">
    <li>get your own profile</li>
    <li>statistics of all your games</li>
    <li>conquer the highscore list</li>
  </ul>
  <div class="btn-toolbar text-center">
    <div class="btn-group">
      <a class="btn btn-medium">Create Account</a>
    </div>
    <div class="btn-group">
      <a href="#/login" class="btn btn-medium">Log In</a>
    </div>
  </div>
</div>
{{test}}
