<!-- <ng-include src="templateUrl"></ng-include> -->
<div ng-switch="loggedIn">
    <div ng-switch-when="true">

        <div id="profileBox" class="box" style="height:200px;">
          <h4><a href="#user/{{user.name}}">{{user.name}}</a></h4>
          <img ph-img="100x100"/>

          <ul>
            <li>{{'_Games_' | i18n}}: <span  ng-model="user.games"> </span> {{user.games}}</li>
            <li>{{'_Won_' | i18n}}: {{user.won}}</li>
            <li>{{'_Score_' | i18n}}: {{user.score}}</li>
          </ul>

          <div id="profileBoxLower" class="clear">
             <a class="btn btn-medium" ng-click="logout()">{{'_Logout_' | i18n}}</a>
          </div>

        </div>

    </div>
    <div ng-switch-default>

        <div id="profileBox" class="box" style="height:200px;">
          <h4>Create an account and profit:</h4>
          <ul style="text-align:left;">
            <li>get your own profile</li>
            <li>statistics of all your games</li>
            <li>conquer the highscore list</li>
          </ul>
          <div class="btn-toolbar text-center">
            <div class="btn-group">
              <a href="#/signup" class="btn btn-medium">{{'_CreateAccount_' | i18n}}</a>
            </div>
            <div class="btn-group">
              <a href="#/login" class="btn btn-medium">{{'_LogIn_' | i18n}}</a>
            </div>
          </div>
        </div>
    </div>
</div>
