<div class="signup-form text-center">
  <h1>Sign Up</h1>
  <form name="signupForm" action="" novalidate>
    <fieldset>
      <div class="clearfix">
        <input type="text" ng-model="username" placeholder="Username" required>
      </div>
      <div class="clearfix">
        <input name = "password" type="password" ng-model="password" placeholder="Password" required>
      </div>
        <!-- <div ng-show="form.password.$error.required">
          Field required</div>
        </div> -->
      <div class="clearfix">
        <input name="passwordconfirm" type="password" ng-model="passwordConfirm" placeholder="Confirm Password" required>
        <!-- <span ng-show="!form.passwordconfirm.$error.required && form.passwordconfirm.$error.noMatch && form.password.$dirty">Passwords do not match.</span> -->
      </div>
      <div class="clearfix">
        <input type="email" ng-model="email" placeholder="Email"  required>
      </div>
      <button class="btn primary" type="submit" ng-click="signup()">Sign up</button>
      <!-- <button ng-click="test()" ng-disabled="form.$invalid">SAVE</button> -->
    </fieldset>
  </form>
</div>