<div ng-switch="playerlist">
    <div ng-switch-when="false">
        <div id="profile">
            <h1 class="text-center">Profile: {{user.name}}</h1>
            <div class="span3">
                <img src="http://placehold.it/100x100"/>
            </div>
            <div class="span3">
            <ul>
                <li>Played: {{user.games}}</li>
                <li>Won: {{user.won}}</li>
                <li>Score: {{user.score}}</li>
            </ul>
        </div>
        <!--     <div id="profileFriendsList" class="span2" ng-hide="!user.friends">
                <h4>Friends</h4>
                <ul>
                    <li ng-repeat="friend in user.friends"><a ng-href="#/user/{{friend}}">{{friend}}</a></li>
                </ul>
            </div> -->

            <div ng-switch="isFriend" ng-hide="user.own">
                <div ng-switch-when="true">
                    <a href="" ng-click="deleteFriend()" class="btn btn-danger">delete friend</a>
                </div>
                <div ng-switch-when="false">
                    <a href="" ng-click="addAsFriend()" class="btn">add friend</a>
                </div>
                <div ng-hide="!user.online">
                     <i class="icon-circle online"> online </i>
                </div>
            </div>


            <div class="clearfix"></div>
            <h4>Last Games</h4>
            <ul>
                <li>Game 123</li>
                <li>Game 421</li>
                <li>Game 423</li>
            </ul>
        </div>
    </div>
    <div ng-switch-default>
        <h1 class="text-center">Playerlist</h1>
        <h5 class="text-center">
          <ng-pluralize count="connectedUsers"
            when="{'0': 'Nobody is online.',
              'one': '1 user is online.',
              'other': '{} users are online.'}">
          </ng-pluralize>
        </h5>
        <div class="text-center">
            <a href="" class="btn" ng-click="refresh()">refresh</a>
            <input type="checkbox" ng-model="onlyConnected"/>connected only
            <input ng-model="searchPlayer.string" placeholder="search player"/><a href="" class="icon-remove" ng-click="clearPlayerSearch()" style="position: relative; left: -20px;"></a>
        </div>
        <ul class="unstyled text-center">
            <li ng-repeat="user in users | withoutGuests | filter:searchPlayer.string"><a href="#/user/{{user}}">{{user}}</a></li>
        </ul>
    </div>
</div>
