<div class="accordion box" id="accordion-chat">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle row text-center" data-toggle="collapse" data-parent="#accordion-chat" href="#collapse-chat">
        <div class="col-lg-12">
          <h3 style="margin: 0;">Chat <span ng-show="inChat" class="badge badge-info">{{chatUsers.length}}</span></h3>
        </div>
      </a>
    </div>
    <div id="collapse-chat" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="text-center">
          <button ng-show="!inChat" class="btn btn-primary btn-mini" ng-click="join()">join chat</button>
        </div>
        <div ng-show="inChat">
          <div class="text-center">
            <button class="btn btn-primary btn-mini" ng-click="leave()">leave chat</button>
          </div>
          <ul id="chat" class="list-unstyled" style="height: 200px; overflow-y:scroll;">
            <li ng-repeat="message in messages">
              <div ng-switch on="message.message.length > 0">
                <!-- chat message -->
                <div ng-switch-when="true">
                  <strong>{{message.username}}:</strong> {{message.message}}
                </div>
                <!-- status message -->
                <div ng-switch-when="false">
                  <span style="color:grey;">{{message.username}} {{message.type}}</span>
                </div>
              </div>
            </li>
          </ul>
          <form class="text-center">
            <input ng-model="currentMessage">
            <button class="btn btn-primary btn-mini" ng-click="send()">send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <ul>
  <li ng-repeat="chatUser in chatUsers">{{chatUser}}</li>
</ul> -->
