<div id="friendslist" ng-hide="!friends">
  <div class="accordion box" id="accordion-friendslist">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle row text-center" data-toggle="collapse" data-parent="#accordion-friendslist" href="#collapse-friendslist">
          <h4 class="text-center">{{'_FriendsList_' | i18n}} ({{friendCount}})</h4>
          <table style="width: 100%; table-layout: fixed;" class="text-center">
            <tr>
              <th>{{'_Online_'| i18n}}</th>
              <th>{{'_Requests_' | i18n}}</th>
            </tr>
            <tr>
              <td><span class="badge badge-info">{{friendsOnlineCount}}</span></td>
              <td><span class="badge badge-info">{{requests.length}}</span></td>
            </tr>
          </table>
        </a>
      </div>
      <div id="collapse-friendslist" class="accordion-body collapse">
        <div class="accordion-inner">
          <div class="row">
            <table class="text-center" style="width: 100%; table-layout: fixed; color: grey;">
              <tr ng-repeat="(user,friend) in friends | toArray | orderBy:'online':true" ng-class="{online: friend.online}">
                <td><i class=" icon-circle"></i></td>
                <td class="text-left"><a ng-class="{online: friend.online}" href="/#/users/{{friend.$key}}">{{friend.$key}}</a></td>
                <td></td>
              </tr>
              <tr ng-hide="!requests.length">
                <td colspan="3">
                  <hr/>
                </td>
              </tr>
              <tr ng-repeat="request in requests">
                <td><i class=" icon-question-sign"></i></td>
                <td class="text-left"><a href="/#/users/{{request}}">{{request}}</a></td>
                <td>
                  <div class="btn-group">
                    <a href="" ng-click="accept(request)"><i class="icon-ok-sign"></i></a>
                    <a href="" ng-click="decline(request)"><i class=" icon-remove-sign"></i></a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



