<!-- <div class="container">
  <div class="row">
    <div class="span3 offset3"> -->
      <div class="login-form text-center">
        <h1>{{'_Login_' | i18n}}</h1>
        <form action="">
          <fieldset>
            <div class="clearfix">
              <input type="text" ng-model="username" placeholder="{{'_Username_' | i18n}}">
            </div>
            <div class="clearfix">
              <input type="password" ng-model="password" placeholder="{{'_Password_' | i18n}}">
            </div>
            <button class="btn primary" type="submit" ng-click="login()">{{'_LogIn_' | i18n}}</button>
          </fieldset>
        </form>
      </div>
<!--     </div>
  </div>
</div> -->
