<div class="login-form">
  <h1 class="text-center">{{'_Login_' | i18n}}</h1>
  <form class="col-lg-5 span-centered" action="">
    <fieldset>
      <div class="form-group">
        <label for="username">{{'_Username_' | i18n}}</label>
        <input class="form-control" type="text" name="username" ng-model="username" placeholder="{{'_Username_' | i18n}}">
      </div>
      <div class="form-group">
        <label for="password">{{'_Password_' | i18n}}</label>
        <input class="form-control" type="password" name="password" ng-model="password" placeholder="{{'_Password_' | i18n}}">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" ng-click="login()">{{'_LogIn_' | i18n}}</button>
      </div>
    </fieldset>
  </form>
</div>

