/* Will be compiled down to a single stylesheet with your sass files */

body {
  overflow-y: scroll;
}

.navbar .nav a {
  font-size:16px;
}

.navbar .brand {
  font-size:24px;
}

.navbar .nav .quickPlay a{
  font-size:20px;
}

.box {
  background-color: #fafafa;
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
}

#sidebar {
  border-top: 0px;
  padding:2px;
}

.jumbotron {
  margin: 40px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron h2 {
  font-size: 80px;
  line-height: 1;
}

.navbar {
  margin-bottom: 0px;
}

.col{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.col-wrap{
  overflow: hidden;
}

#profileBox {
  padding: 5px;
}

#profileBox h4 {
  text-align: center;
}

#profileBox img {
  float:left;
}

#profileBox ul {
  float:left;
  list-style:none;
  margin-left: 10px;
}

#profileBox ul li {
  padding: 5px;
}

#profileBoxLower {
  text-align: center;
  font-size: 17px;
  padding: 10px;
}

#friendslist ul {
  list-style: none;
}

#friendslist ul a {
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

.online {
  color: green !important;
}

.newsItem {
  padding: 10px;
}

.newsItem h4, .newsItem h5 {
  text-align: center;
}

.clear {
  clear: both;
}

/* FLASH MESSAGES */

.flash {
  margin-left:20px;
  border: 1px solid;
  margin-top: 2px;
  padding-left: 20px;
}

.flash a {
  float:right;
  color: grey;
  text-decoration: none;
  margin-right: 10px;
}

.flash a:hover {
  color: black;
}


/* PROFILE */
/*
#profile {
  padding: 0px 50px 50px 50px;
}

#profile img {
  float:left;
  margin-right: 100px;
}

#profile ul {
  list-style: none;
  margin: 0px;
  float:left;
}

#profile ul li {
  margin: 10px 10px 10px 0px;
}
*/

.dataTable th {
  cursor: pointer;
}


.red {
  color:red;
}

a {
  text-decoration: none !important;
}

.span-centered {
  margin:0 auto;
  float:none;
}

.table-centered td{
  text-align: centered;
}
