/* Will be compiled down to a single stylesheet with your sass files */

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
  background-image: url("../images/mooning.png");
  background-repeat: repeat;
  background-color: #d5d5d5;
  overflow-y: scroll;
}


th {
  text-align: center;
}

.navbar .nav a {
  font-size:16px;
}

.navbar-brand {
  font-size:24px;
}

.navbar .nav .quickPlay a{
  font-size:20px;
}

.accordion {
  margin-bottom: 0px;
}

.box {
  background-color: #eeeeee;
  background-repeat: repeat;
  border: 1px solid #c1c1c1;
}

#sidebar {
  border-top: 0px;
  padding:2px;
  margin-top: 20px;
}

.jumbotron {
  background-color: transparent;
}

.navbar {
  margin-bottom: 0px;
}



#profileBox {
  padding: 5px;
}

#profileBoxLower {
  text-align: center;
  font-size: 17px;
  padding: 10px;
}

#friendslist ul {
  list-style: none;
}

#friendslist table a {
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

.online {
  color: green !important;
}

.newsItem {
  padding: 10px;
}

.newsItem h4, .newsItem h5 {
  text-align: center;
}

/* FLASH MESSAGES */

.flash {
  margin-left:20px;
  border: 1px solid;
  margin-top: 2px;
  padding-left: 20px;
}

.flash a {
  float:right;
  color: grey;
  text-decoration: none;
  margin-right: 10px;
}

.flash a:hover {
  color: black;
}

.dataTable th {
  cursor: pointer;
}

.red {
  color:red;
}

a {
  text-decoration: none !important;
}

.span-centered {
  margin:0 auto;
  float:none;
}
