<div id="carousel-example-generic" class="carousel slide" style="margin-top:20px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li ng-repeat="game in appConfig.games" data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-class="{active: $index == 0}" style="background-color:black;"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" style="text-align: center">
    <div ng-repeat="game in appConfig.games" class="item" ng-class="{active: $index == 0}">
      <img ng-show="game.previewImage" src="{{game.previewImage}}" alt="{{game.name}}">
      <img ng-hide="game.previewImage" src="images/gamePlaceholder.png" alt="{{game.name}}">
      <div class="carousel-caption" style="color:black;">
        <h3>{{game.name}}</h3>
        <p>{{game.description}}</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
