<!-- Modals -->
<div class="modal fade" id="createGameModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{"_CreateGame_" | i18n}}</h3>
      </div>
      <div class="modal-body">
        <p>{{"_LobbyName_" | i18n}}: <input ng-model="lobbyName" /></p>
        <p>{{"_PlayerLimit_" | i18n}}:
          <select ng-model="maxplayers">
            <option ng-repeat="limit in playerLimits">{{limit}}</option>
          </select>
        </p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" ng-click="createGame(lobbyName, maxplayers)" class="btn btn-primary">{{"_CreateGame_" | i18n}}</button>
        <button data-dismiss="modal" ng-click="cancel()" class="btn">{{"_Cancel_" | i18n}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="leaveGameModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{"_LeaveLobby_" | i18n}}</h3>
      </div>
      <div class="modal-body">
        <p>{{"_LeaveLobbyReally_" | i18n}}</p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" ng-click="leaveGame()" class="btn btn-primary">{{"_Yes_" | i18n}}</button>
        <button data-dismiss="modal" ng-click="cancel()" class="btn">{{"_Cancel_" | i18n}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div ng-hide="lobby.status == STATES.GAME.INGAME">
  <div ng-show="lobby.status == STATES.GAME.LOBBY">
    <h1 class="text-center">{{'_Lobby_' | i18n}}: {{lobby.currentLobby.name}}</h1>
    <div class="text-center">
      <div class="btn-group">
        <button data-toggle="modal" href="#leaveGameModal" class="btn btn-primary">{{'_LeaveLobby_' | i18n}}</button>
      </div>
      <div class="btn-group" ng-hide="!isHost(user.ownUsername())">
        <button type="button" class="btn btn-primary" ng-disabled="lobby.currentLobby.players.length <= 1" ng-click="btnReady()">{{'_Ready_' | i18n}}</button>
      </div>
    </div>
    <!-- last game standings if available -->

    <div id="lastStandings" ng-hide="!lobby.lastStandings">
      <div class="accordion" style="background-color: #f1f1f1; margin-top: 10px;">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
              <h4 class="text-center">{{'_LastStandings_' | i18n}}</h4>
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              <table class="table text-center table-condensed" style="table-layout: fixed; background-color:white;">
                <tr>
                  <th>Place</th>
                  <th>User</th>
                  <th>Ratio Diff</th>
                  <th>Elo Diff</th>
                </tr>
                <tr ng-repeat="standing in lobby.lastStandings">
                  <td rowspan="standing.length" style="vertical-align:middle;">{{$index + 1}}</td>
                  <td colspan="3">
                    <table class="table table-condensed" style="table-layout: fixed; margin-bottom: 0px;">
                      <tr ng-repeat="player in standing">
                        <td style="border-top: 0px;">{{player}}</td>
                        <td style="border-top: 0px;"><span ng-show="lobby.playerForUsername[player].ratioDiff > 0">+</span>{{lobby.playerForUsername[player].ratioDiff | number:2}}</td>
                        <td style="border-top: 0px;"><span ng-show="lobby.playerForUsername[player].eloDiff > 0">+</span>{{lobby.playerForUsername[player].eloDiff | number:2}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4>{{'_Players_' | i18n}}</h4>
    <table class="table table-striped text-center">
      <tr ng-repeat="player in lobby.currentLobby.players" >
        <td class="col-lg-1"><elo-box number="player.elo" size="20"></elo-box></td>
        <td ng-class="{ red: isHost(player.name) }"><strong>{{player.name}}</strong></td>
        <td>
          <div class="progress" style="margin-bottom: 0px;">
            <div class="progress-bar" ng-class="{'progress-bar-warning': player.ratio > 33.34 && player.ratio < 66.65, 'progress-bar-danger': player.ratio <= 33.34, 'progress-bar-success': player.ratio >= 66.65}" style="width: {{player.ratio}}%;">{{player.ratio | number:2}}</div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div ng-show="!lobby.inLobby">
    <h1 class="text-center">{{'_ServerBrowser_' | i18n}}</h1>
    <div class="text-center">
      <div class="btn-group">
        <button data-toggle="modal" href="#createGameModal" class="btn btn-primary">{{'_CreateGame_' | i18n}}</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="refresh()"><i class="icon-refresh"></i> {{'_Refresh_' | i18n}}</button>
      </div>
    </div>
    <table class="dataTable table table-striped table-hover" style="margin-top: 10px">
      <tr>
        <th ng-click="reorder('name')">{{'_GameName_' | i18n}}</th>
        <th ng-click="reorder('players')">{{'_Players_' | i18n}}</th>
        <th ng-click="reorder('status')">{{'_Status_' | i18n}}</th>
        <th></th>
      </tr>
      <tr class="text-center"ng-repeat="game in lobby.games | toArray | orderBy:order:reverse">
        <td>{{game.name}}</td>
        <td>{{game.players.length}} / {{game.maxplayers}}</td>
        <td>{{game.status.toString | i18n}}</td>
        <td><button type="button" class="btn btn-primary btn-small" ng-click="joinGame(game.$key)">{{'_Join_' | i18n}}</button></td>
      </tr>
    </table>
    <h5 class="text-center" ng-hide="getLobbyCount()!=0">{{'_NoLobbys_' | i18n}}</h5>
  </div>
</div>

<div ng-show="showGame()"  ng-controller="MulticollideGameCtrl">
  <h1>INGAME</h1>
  <p><button ng-click="fullscreen()">Go Fullscreen</button></p>
  <canvas id="bgCanvas" style="position: absolute; border: 1px #E5E5E5 solid;"></canvas>
  <canvas id="canvas" style="position: absolute; border: 1px #E5E5E5 solid;"></canvas>
  <canvas id="textCanvas" style="position: absolute; border: 1px #E5E5E5 solid;"></canvas>
</div>
