<div ng-hide="lobby.status == STATES.GAME.INGAME">
  <div ng-show="lobby.status == STATES.GAME.LOBBY">
    <h1 class="text-center">{{'_Lobby_' | i18n}}: {{lobby.currentLobby.name}}</h1>
    <div class="btn-toolbar text-center">
      <div class="btn-group">
        <a href="" class="btn" ng-click="btnLeaveGame()">{{'_LeaveLobby_' | i18n}}</a>
      </div>
      <div class="btn-group" ng-hide="!isHost(user.ownUsername())">
        <a href="" class="btn" ng-click="btnReady()">{{'_Ready_' | i18n}}</a>
      </div>
    </div>
    <ul>
      <li ng-repeat="player in lobby.currentLobby.players" ng-class="{ red: isHost(player) }">{{player}}</li>
    </ul>
  </div>
  <div ng-show="lobby.status == STATES.GAME.BROWSER">
    <h1 class="text-center">{{'_ServerBrowser_' | i18n}}</h1>
    <div class="btn-toolbar text-center">
      <div class="btn-group">
        <a href="" class="btn" ng-click="btnCreateGame()">{{'_CreateGame_' | i18n}}</a>
      </div>
      <div class="btn-group">
        <a href="" class="btn" ng-click="refresh()"><i class="icon-refresh"></i> {{'_Refresh_' | i18n}}</a>
      </div>
    </div>
    <table class="dataTable table table-striped table-hover">
      <tr>
        <th ng-click="reorder('name')">{{'_GameName_' | i18n}}</th>
        <th ng-click="reorder('players')">{{'_Players_' | i18n}}</th>
        <th ng-click="reorder('status')">{{'_Status_' | i18n}}</th>
        <th></th>
      </tr>
      <tr ng-repeat="game in lobby.games | toArray | orderBy:order:reverse">
        <td>{{game.name}}</td>
        <td>{{game.players.length}} / {{game.maxplayers}}</td>
        <td>{{game.status | i18n}}</td>
        <td><a href="" class="btn btn-small" ng-click="joinGame(game.$key)">{{'_Join_' | i18n}}</a></td>
      </tr>
    </table>
    <h5 class="text-center" ng-hide="getLobbyCount()!=0">{{'_NoLobbys_' | i18n}}</h5>
  </div>
</div>

<div ng-show="showGame()"  ng-controller="MulticollideCtrl">
  <h1>INGAME</h1>
  <p><button ng-click="fullscreen()">Go Fullscreen</button></p>
  <canvas id="bgCanvas" style="position: absolute; border: 1px #E5E5E5 solid;"></canvas>
  <canvas id="canvas" style="position: absolute; border: 1px #E5E5E5 solid;"></canvas>
  <canvas id="textCanvas" style="position: absolute; border: 1px #E5E5E5 solid;"></canvas>
</div>
